Android64/
.~
Android/Release/AndroidManifest.xml
Android/Release/classes.dex
Android/Release/colors.xml
Android/Release/Desafio100.o
Android/Release/FrmErro.dcu
Android/Release/FrmErro.o
Android/Release/frmInfo.dcu
Android/Release/frmInfo.o
Android/Release/FrmLogin.dcu
Android/Release/FrmLogin.o
Android/Release/FrmMenu.dcu
Android/Release/FrmMenu.o
Android/Release/FrmPontuacao.dcu
Android/Release/FrmPontuacao.o
Android/Release/FrmPrincipal.dcu
Android/Release/FrmPrincipal.o
Android/Release/FrmSobre.dcu
Android/Release/FrmSobre.o
Android/Release/FrmWeb.dcu
Android/Release/FrmWeb.o
Android/Release/libDesafio100.so
Android/Release/splash_image_def.xml
Android/Release/strings.xml
Android/Release/styles.xml
Android/Release/styles-v21.xml
Android/Release/Desafio100/AndroidManifest.xml
Android/Release/Desafio100/assets/deployinfo/deployedassets.txt
Android/Release/Desafio100/assets/internal/Disciplina01.ini
Android/Release/Desafio100/assets/internal/Disciplina02.ini
Android/Release/Desafio100/assets/internal/Disciplina03.ini
Android/Release/Desafio100/assets/internal/Disciplina04.ini
Android/Release/Desafio100/assets/internal/erro.mp3
Android/Release/Desafio100/assets/internal/ok.mp3
Android/Release/Desafio100/bin/Desafio100.apk
Android/Release/Desafio100/classes/classes.dex
Android/Release/Desafio100/debug/libDesafio100.so
Android/Release/Desafio100/library/lib/armeabi/libDesafio100.so
Android/Release/Desafio100/library/lib/armeabi-v7a/gdbserver
Android/Release/Desafio100/library/lib/armeabi-v7a/libDesafio100.so
Android/Release/Desafio100/library/lib/mips/libDesafio100.so
Android/Release/Desafio100/res/drawable/splash_image_def.xml
Android/Release/Desafio100/res/drawable-hdpi/ic_launcher.png
Android/Release/Desafio100/res/drawable-hdpi/ic_notification.png
Android/Release/Desafio100/res/drawable-large/splash_image.png
Android/Release/Desafio100/res/drawable-ldpi/ic_launcher.png
Android/Release/Desafio100/res/drawable-mdpi/ic_launcher.png
Android/Release/Desafio100/res/drawable-mdpi/ic_notification.png
Android/Release/Desafio100/res/drawable-normal/splash_image.png
Android/Release/Desafio100/res/drawable-small/splash_image.png
Android/Release/Desafio100/res/drawable-xhdpi/ic_launcher.png
Android/Release/Desafio100/res/drawable-xhdpi/ic_notification.png
Android/Release/Desafio100/res/drawable-xlarge/splash_image.png
Android/Release/Desafio100/res/drawable-xxhdpi/ic_launcher.png
Android/Release/Desafio100/res/drawable-xxhdpi/ic_notification.png
Android/Release/Desafio100/res/drawable-xxxhdpi/ic_notification.png
Android/Release/Desafio100/res/values/colors.xml
Android/Release/Desafio100/res/values/strings.xml
Android/Release/Desafio100/res/values/styles.xml
Android/Release/Desafio100/res/values-v21/styles.xml
